/*
/*/*

*/*/_notes/
*/*/.sass-cache/

!.gitignore

# This block prevents the GroupEffort plugin from being ignored
!/wordpress
/wordpress/*
!/wordpress/wp-content
/wordpress/wp-content/*
!/wordpress/wp-content/plugins
/wordpress/wp-content/plugins/*
!/wordpress/wp-content/plugins/group-effort

# This block prevents the GroupEffort Ionic files from being ignored
!/ionic
/ionic/.sass-cache/
