<div class="button-bar">
    <a class="button button-calm"  href="#/tab/efforts/{{effort.id}}/tasks"><i class="icon ion-checkmark-circled"></i></a>
    <a class="button button-calm"  href="#/tab/efforts/{{effort.id}}/notes"><i class="icon ion-edit"></i></a>
    <a class="button button-calm"  href="#/tab/efforts/{{effort.id}}/comments"><i class="icon ion-chatbox"></i></a>
    <a class="button button-calm"  href="#/tab/efforts/{{effort.id}}/activity"><i class="icon ion-clock"></i></a>
    <a class="button button-calm"  href="#/tab/efforts/{{effort.id}}/settings"><i class="icon ion-settings"></i></a>
</div>  	